@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.container-full{
    width: 100%;
    background-color: green;
}
.container::before,
.container::after{
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: "Rubik", sans-serif;
    /* font-family: "Almarai", sans-serif; */
}
.buttons{
    margin-top: 65px;
}

.btn{
    padding: 20px 20px;
    text-transform: capitalize; 
    background-color: #1b4968;  
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-size: 15px;
    color: #31da59;
    transition: all 0.3s;
    border: 1px solid red;
    margin-right:10px;
    letter-spacing: 1px;


}

.btn:hover{
    background-color: #f37311;
    color: #fafbfb;;
}
a{
    text-decoration: none;
     
}

.section-title{
    font-size: 30px;
    text-align: center;
    color: rgb(247, 25, 25);
    text-transform: uppercase;
    padding: 40px 0;
    margin: 40px 0;
 
}

/* Main Css start from here******************* */
.nabvar {
    background-color: rgb(17, 16, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 2%;
    position: fixed;
    position: relative;
}

.logo {
    

    font-size: 1.5rem;
    color: rgb(16, 135, 28);
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}

.purple {
    color: purple;
    font-size: 2rem;
    font-family: "Almarai", sans-serif;
    font-weight: 700;
}
.nabvar,.list {
    display: flex;
    gap: 15px;
}

.nabvar .list li {
    list-style: none;
}

.nabvar .list li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: rgb(248, 70, 30);
    border-bottom:1px solid red;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
.leftSection{
    width: 50%;
   
}
.leftSection h1{
    font-size: 3.5rem;
    color: #1b4968;
    margin-bottom: 15px;

}
.leftSection h3{
   
    font-size: 1.5rem;
    color:rgb(37, 6, 68);

}
.leftSection h1 span{
    color: rgb(78, 25, 158);
}
.rightSection{
    width: 50%;
    
}
.rightSection img {
   width: 100%;
}
 
/* my-skills ******************* */
#about{
    background-color: #7cc2f1;
    padding: 0 4%;
}

.skill-title{
    font-size: 30px;
    color: #000;
    font-weight:700;
    text-align: center;
}

.skills-section{
    display: flex;
    justify-content: space-between;

   
}
.myskill{
    width: 50%;
 
 

}
.skill-tech{
    padding: 4% 0;
}
.skill-tech p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 7, 12);
    padding: 12px 0;
    position: relative;
}

.skill-tech p::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color:#fefafa ;
    display: block;
    margin: 10px 0;
    border-radius: 10px;

}


.skills-right{
    width: 50%;
   padding: 2% 0;

}
.image{
 width: 100%;
 text-align: center;
}
.image img{
    width: 70%;
    border: 2px solid rgb(159, 69, 69);
    border-radius: 40px;
}
/* *********Services section *********** */
.service-card{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}
.card{
    background-color:  rgb(17, 16, 50);;
    text-align: center;
    border-radius: 10px;
    padding: 3rem;
    transition: 0.5s all;
    width: 33%;
   

}
.card:hover{
    transform: translateY(-20px);
}
.card h4{
    font-size: 24px;
    color: #f3f7f9;
    padding: 40px 0;
    text-transform: uppercase;
}
.card ul{
    list-style: none;
}

.card ul li {
    font-size: 18px;
    line-height: 1.9;
    color: rgb(243, 236, 236);
    letter-spacing: 1px;
    font-weight: 300;
    opacity: 0.6;
   
}

/* blogs start********************** */
.bloge-section {
   padding: 2% 0;
    background: #95a4de;
}
.my-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.block-title{
    font-size: 30px;
    text-align: center;
    font-family: 700;
    color: #0a0a0a;
    text-transform: capitalize;
    padding: 50px 0;
}

 .block-card{
    background-color: rgb(188, 175, 193);
    overflow: hidden;
    border-radius: 15px;
    padding: 1.4rem;
    transition: 0.3s;
    width: 33%;

}

.block-card h4{
    font-size: 24px;
    padding: 20px 0;


}
.block-card h5{
    font-size: 20px;
    padding-bottom: 20px;
    
}
.block-card span{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    
}
.block-card p{
    font-size: 16px;
    
}

/* contract css starts**************** */
.form{
    width: 100%;
    height: 500px;
    padding: 30px;
    margin:0 auto;
    background-color: #41e176;
    display: flex;
}
.form-left{
    width: 50%;
    padding: 3rem
}
.name{
    width: 100%;
    height: 80px;
    margin: 15px;
}
label{
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color:#fff;

}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    
}
input:focus{
    padding-left: 1rem;
}

.f-btn{
    width: 100%;
    background-color: #1c204c;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    color: white;
   
}
.f-btn a{
    color: #fff;
}
.form-right{
    width: 50%;
}
.comment-l{
    color: #fefafa;
}
.form-right .comment{
    width: 100%;
    height: 350px;
    font-size: 18px;
    border: none;
    resize: none;
    border-radius: 10px;
}
.form-right.comment:focus{
    background-color: #040c2f;
}


/* contract css end**************** */


.f-section{
background-color: #1c204c;
padding: 1%;
}
.footer{
    /* background-color: #150f0f; */
    color: #fefafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.footer h4{
    color: #e95b1e;
    font-size: 22px;
    padding: 10px 0;
}
.f-box{
    width: 33%;
}
.location ul{
    list-style: none;


}

.blogd{
    letter-spacing: 1px;
line-height: 30px;
}
.location ul li{
    padding: 8px 0;
}


/* *****burger******* */


.burger{
    position: absolute;
    top: 10px;
    right: 5%;
    cursor: pointer;
    display: none;
}
.line{
    width: 33px;
    margin-bottom: 5px;
    height: 5px;
    background-color: #fff;
}
/* .block{
    flex-direction: column;
    height: 350px;
    position: absolute;
    background-color: #1c204c;
    top: 59px;
   display: block;
} */


@media only screen and (max-width:760px)  {

  
 .my-block, .service-card{
    display: flex;
    flex-wrap: wrap;
    
}
.card, .block-card{
    width: 50%;
}

}

@media only screen and (max-width:600px) {
    
    .burger{
        display: block;
    }

   .list{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #081639;
        gap: 0;
        overflow: hidden;
        opacity: 0;
    }
    .navbar, .list li{
        padding: 20px;
    }
    .list{
        transition: 0.5s;
    }
.navbar{
flex-direction: column;
align-items: center;

}

.hero-section{
    flex-direction: column-reverse;
}
.leftSection h1 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.leftSection h3{
    font-size: 20px;
    margin-left: 0px;
}
.buttons{
    margin-top: 50px;
}
.btn {
    display: block;
    margin-top: 15px;
    padding: 15px 70px;
    text-align: center;
    margin-bottom: 20px;
}
.rightSection {
    width: 100%;
    padding: 1px 20px;
    margin: 22px 11px;
}
.leftSection{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#about{
    padding: 2% 2%;
}
.skills-section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center
}
.myskill{
    width: 100%;
}
.myskill , .section-title{
    margin: 0;
    padding: 0;

}
.skills-right{

    width: 100%;
}
.image{
    width: 250px;
    margin: auto;
}
.image img{
    width: 100%;
}
.service-card{
    padding: 2%;
    flex-direction: column;
    gap: 2rem;
}
.card{
   width: 100%;
    margin-bottom:1rem;
}

.card-ul li{
text-align: center;
color: rgb(229, 129, 129);
padding: 0px;

}
.block-card {
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
}
.form{
    flex-direction: column;
    align-items: center;
    height: 80%;
}
input{
width: 100%;
}
.form-right .comment{
    width: 100%;
    height: 250px;
    resize: none;
    outline: none;
}
.form-left,.form-right{
    width: 100%;
}
.section-title {
    margin-top: 39px;
}
.f-section{
    margin: 2%;
}
.f-box {
    padding: 4%;
    width: 100%;
    text-align: center;
}

};


